/*===========================*/
/* APP-LEVEL STYLE VARIABLES */
/*===========================*/
$generalFontColor: #333;
$tableHeaderBG: #ABABAB;
$evenRowBG: #E7E7E7;
$rowOnHover: rgba(32,149,240,0.25);
$mainTheme: #78CC5A;
$secondTheme: #575E68;
$fontTheme: #FFF;

$mainWidth: 1000px;

$generalFont: 'Yantramanav Light', Helvetica, sans-serif;
$headerFont: 'Lato Bold', 'Helvetica Neue', Arial;