@import 'variables';
@import 'mixins';

/*==================*/
/* APP-LEVEL STYLES */
/*==================*/
body, html {
	position:relative;
	min-height: 100%;
	font-family: $generalFont;
	color: $generalFontColor;
}
* {
	box-sizing: border-box;
}
.main-wrapper {
	width: $mainWidth;
	margin: 0 auto;
	p {
		line-height: 1.6;
	}
	p:first-child {
		padding-top: 1em;
	}
	p:nth-child(2) {
		padding-bottom: 1em;
	}
}
header {
	background-color: $mainTheme;
	padding: 1em 0;
	h1 {
		font-family: $headerFont;
		color: $fontTheme;
		text-align: center;
		margin: 0 auto;
	}
}
#buttons {
	width: 100%;
	margin-top: 1em;
	margin-bottom: 3em;
	text-align: center;
}
button {
	box-sizing: inherit;
	border: 1px solid $secondTheme;
	background-color: $fontTheme;
	color: $secondTheme;
	padding: 0.5em 1.5em;
	border-radius: 3px;
	transition: all ease 0.2s;
}
button:hover {
	color: $fontTheme;
	background-color: $secondTheme;
}
.loading {
	position: relative;
	height: 100%;
	overflow: hidden;
}
.loading::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 100;
	background-color: rgba(0,0,0,0.25);
}


/*=================*/
/* COUNTRIES TABLE */
/*=================*/
.scrollable-wrapper {
	position: relative;
	width: 845px;
	padding-top: 88px;
	margin: 0 auto;

	.scrolling-area {
		width: 825px;
		height: 65vh;
		overflow: auto;
		overflow-x: hidden;
	}
}

table#countries {
	cellspacing: 0;
	border-collapse: collapse;
	width: 825px;
	margin: 0;
	padding: 0;

	tbody div, td, th {
		margin: 0;
		padding: 0;
	}

	td {
		padding: 0.6em 0.1em;
	}

	tr:nth-child(even) {
		background-color: $evenRowBG;
	}

	thead tr {
		position: absolute;
		top: 20px;
		left: 0;
		border-radius: 5px 5px 0 0;
	}

	th.header {
		padding: 1em 0;
		text-align: center;
		background-color: $secondTheme;
		color: $fontTheme;
	}

	.code {width: 50px; text-align: center;}
	.name {width: 300px;}
	.capital {width: 150px;}
	.area {width: 100px; text-align: right;}
	.population {width: 125px; text-align: right;}
	.continent {width: 100px; text-align: center;}

	tbody tr:hover {
		cursor: pointer;
		background-color: $rowOnHover;
	}
}

/*================*/
/* COUNTRY DETAIL */
/*================*/
#detail-wrapper {
	width: 845px;
	margin: 0 auto;
	padding-top: 1em;

	h2 {
		width: 100%;
		text-align: center;
	}
	
	#country-details::after {
		content: '';
		display: block;
		clear: both;
	}

	.labels {
		width: 50%;
		float: left;
		text-align: right;
		padding-right: 1em;
	}

	.data {
		width: 50%;
		float: left;
	}
}

#flag, #map {
	width: 280px;
	margin: 0 auto;
}
#map {
	padding-top: 3em;
	clear: both;
}
#flag img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}