/*===========================*/
/* APP-LEVEL STYLE VARIABLES */
/*===========================*/
/*===========================*/
/* APP-LEVEL STYLE LIBRARIES */
/*===========================*/
/*==================*/
/* APP-LEVEL STYLES */
/*==================*/
body, html {
  position: relative;
  min-height: 100%;
  font-family: "Yantramanav Light", Helvetica, sans-serif;
  color: #333; }

* {
  box-sizing: border-box; }

.main-wrapper {
  width: 1000px;
  margin: 0 auto; }
  .main-wrapper p {
    line-height: 1.6; }
  .main-wrapper p:first-child {
    padding-top: 1em; }
  .main-wrapper p:nth-child(2) {
    padding-bottom: 1em; }

header {
  background-color: #78CC5A;
  padding: 1em 0; }
  header h1 {
    font-family: "Lato Bold", "Helvetica Neue", Arial;
    color: #FFF;
    text-align: center;
    margin: 0 auto; }

#buttons {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 3em;
  text-align: center; }

button {
  box-sizing: inherit;
  border: 1px solid #575E68;
  background-color: #FFF;
  color: #575E68;
  padding: 0.5em 1.5em;
  border-radius: 3px;
  transition: all ease 0.2s; }

button:hover {
  color: #FFF;
  background-color: #575E68; }

.loading {
  position: relative;
  height: 100%;
  overflow: hidden; }

.loading::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.25); }

/*=================*/
/* COUNTRIES TABLE */
/*=================*/
.scrollable-wrapper {
  position: relative;
  width: 845px;
  padding-top: 88px;
  margin: 0 auto; }
  .scrollable-wrapper .scrolling-area {
    width: 825px;
    height: 65vh;
    overflow: auto;
    overflow-x: hidden; }

table#countries {
  cellspacing: 0;
  border-collapse: collapse;
  width: 825px;
  margin: 0;
  padding: 0; }
  table#countries tbody div, table#countries td, table#countries th {
    margin: 0;
    padding: 0; }
  table#countries td {
    padding: 0.6em 0.1em; }
  table#countries tr:nth-child(even) {
    background-color: #E7E7E7; }
  table#countries thead tr {
    position: absolute;
    top: 20px;
    left: 0;
    border-radius: 5px 5px 0 0; }
  table#countries th.header {
    padding: 1em 0;
    text-align: center;
    background-color: #575E68;
    color: #FFF; }
  table#countries .code {
    width: 50px;
    text-align: center; }
  table#countries .name {
    width: 300px; }
  table#countries .capital {
    width: 150px; }
  table#countries .area {
    width: 100px;
    text-align: right; }
  table#countries .population {
    width: 125px;
    text-align: right; }
  table#countries .continent {
    width: 100px;
    text-align: center; }
  table#countries tbody tr:hover {
    cursor: pointer;
    background-color: rgba(32, 149, 240, 0.25); }

/*================*/
/* COUNTRY DETAIL */
/*================*/
#detail-wrapper {
  width: 845px;
  margin: 0 auto;
  padding-top: 1em; }
  #detail-wrapper h2 {
    width: 100%;
    text-align: center; }
  #detail-wrapper #country-details::after {
    content: '';
    display: block;
    clear: both; }
  #detail-wrapper .labels {
    width: 50%;
    float: left;
    text-align: right;
    padding-right: 1em; }
  #detail-wrapper .data {
    width: 50%;
    float: left; }

#flag, #map {
  width: 280px;
  margin: 0 auto; }

#map {
  padding-top: 3em;
  clear: both; }

#flag img {
  width: 100%;
  height: 100%;
  border-radius: 5px; }
